@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.navcard
    display: inline-flex
    justify-content: center
    align-items: center
    margin: 10px

    a
        color: white
        text-decoration: none
        font-size: 1.5rem
        position: relative
        z-index: 2

    &__element
        padding: 0 20px
        width: 250px
        height: 100px
        background: $amethyst-dream
        display: flex
        justify-content: center
        align-items: center
        position: relative
        border-radius: 50px
        overflow: hidden
        transition: all 0.6s ease
    
    &__element::before
        content: ''
        position: absolute
        top: -50%
        left: -50%
        width: 200%
        height: 200%
        background: linear-gradient(0deg, transparent, transparent 30%, rgba(187, 0, 255, 0.3))
        transition: all 0.6s ease
        opacity: 0
        transform: rotate(-45deg)
    
    &__element:hover
        box-shadow: 0 0 20px rgba(162, 0, 255, 0.5);
        transform: scale(1.05)
    
    &__element:hover::before
        opacity: 1
        transform: rotate(-45deg) translateY(110%)