@use '../../../styles/variables' as *
@use '../../../styles/mixins' as *

    
.hero
    display: flex
    align-items: center
    justify-content: space-between

    padding: 2rem
    margin: 1rem 0

    background: rgba(255, 255, 255, 0.2)
    border-radius: 16px
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
    backdrop-filter: blur(5px)
    -webkit-backdrop-filter: blur(5px)
    border: 1px solid $royal-indigo

    +respond-to(tablet)
        flex-direction: column
        text-align: center
        margin: 0 1rem

    &__logo
        max-width: 20%
        margin-right: 2rem

        +respond-to(tablet)
            margin-right: 0
            margin-bottom: 1rem
            min-width: 200px
    
    &__content
        display: flex
        flex-direction: column
        text-align: center

        &__title
            font-size: 2.5rem
            margin-bottom: 1rem
        
        &__subtitle
            font-size: 1.2rem
            margin-bottom: 2rem