@use '../variables' as *

#home-page
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    section
        margin-top: 15px
    
    .section-title
        color: $royal-indigo
    
    .section-description
        color: $amethyst-dream
        text-align: center

    h1, h2
        text-align: center

    .lang-highlight
        display: flex
        flex-direction: column

        &__options
            display: flex

    &__navigation
        display: flex
        flex-direction: column
        align-items: center
