// color palette

$royal-indigo: #392467          // main theme color
$amethyst-dream: #5D3587        // secondary color
$lavender-bliss: #A367B1       // accent color
$cotton-candy: #FFD1E3          // highlight color
