.home
    display: flex
    flex-direction: column

    .navbar
        align-self: center
        position: fixed
        top: 0

    .toolbar
        position: fixed
        right: 0

    .content
        display: flex
        flex-direction: column
        justify-content: space-evenly
        gap: 2rem
        width: 50%