@use '../../../styles/_variables' as *

.card-container
    background-color: $amethyst-dream
    color: white
    
    max-width: 300px
    text-align: center

    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    justify-content: space-around
    
    margin: 10px
    padding: 16px

    border-radius: 8px