@use '../../../styles/variables' as *

.custom-button
    font-family: 'Roboto', sans-serif
    font-weight: bold
    cursor: pointer
    border: none
    padding: 1rem 2rem
    border-radius: 5px
    transition: background-color 0.3s ease, transform 0.3s ease

    &.primary
        background-color: $lavender-bliss
        color: #fff
        &:hover
            background-color: $amethyst-dream
            transform: translateY(-3px)

    &.secondary
        background-color: $royal-indigo
        color: #fff
        &:hover
            background-color: $amethyst-dream
            transform: translateY(-3px)

    &.ghost
        background-color: transparent
        color: $royal-indigo
        border: 2px solid $royal-indigo
        &:hover
            background-color: $cotton-candy
            transform: translateY(-3px)

    &.sm
        padding: 0.5rem 1rem
        font-size: 0.9rem

    &.md
        padding: 1rem 2rem
        font-size: 1rem

    &.lg
        padding: 1.2rem 2.5rem
        font-size: 1.2rem