@use '../../../styles/variables' as *
@use '../../../styles/mixins' as *

.language-options

    &__title
        font-size: 2rem
        margin-bottom: 2.5rem

    &__carousels
        display: flex
        justify-content: center

        .language-carousel
            margin-bottom: 4rem

            .carousel-wrapper
                display: flex
                flex-direction: column
                align-items: center

                .carousel-controls
                    display: flex
                    justify-content: center
                    gap: 1.5rem
                    margin-bottom: 1rem

                    .carousel-button
                        background: none
                        border: none
                        cursor: pointer
                        transition: transform 0.3s ease

                        &:hover
                            transform: scale(1.1)

                        svg
                            stroke: $amethyst-dream
                            transition: stroke 0.3s ease

                        &:hover svg
                            stroke: $lavender-bliss

                .carousel
                    width: 100%
                    max-width: 600px
