.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #89a8b2;
    
    padding: 1rem 2rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);

    .logo {
        height: 5rem;
    }
}