.header
  display: flex
  align-items: center

  justify-content: space-between
  background-color: #89a8b2
  padding: 1rem 2rem
  border-radius: 0 0 1rem 1rem
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1)
  max-width: 70vw

  .logo
    height: 3.5rem // slightly smaller, looks more balanced with toolbar
    margin-right: 1rem
