#auth-page
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    min-height: 100vh

    img
        max-width: 300px
        height: auto
    
    form
        display: flex
        flex-direction: column
        align-items: center

        input
            margin: 8px 0
            padding: 10px
            border-radius: 8px
    
    button
        margin-top: 8px