@use '../variables' as *
@use '../mixins' as *

#dictionary-page
  padding: 1rem

.dictionary-page__navbar
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 2rem

    +respond-to(tablet)
        flex-direction: column

    +respond-to(phone)
        flex-direction: column


.dict
    display: flex
    flex-direction: column
    gap: 1rem

.dict__entry
    padding: 1rem
    background: $lavender-bliss
    border-radius: 1rem
    box-shadow: 0 2px 8px rgba(0,0,0,0.05)

.dict__empty
    text-align: center
    color: $cotton-candy
    font-style: italic
