@use '../../../styles/mixins' as *
    
.how-it-works
    display: flex
    flex-direction: column
    align-items: center
    cursor: default

    &__title
        font-size: 2rem
    
    &__subtitle
        text-align: center
        max-width: 60%
        font-size: 1.6rem
        text-wrap: wrap
    
    &__steps
        max-width: 50%
        list-style: none
        font-size: 1.6rem
        margin-top: 1rem
        text-align: center
        font-style: italic

        li
            margin: 0.8rem 0

    &__cta-btn
        margin-top: 1.2rem