@use '../../../styles/mixins' as *
    
.how-it-works
    display: flex
    flex-direction: column
    align-items: center

    &__title
        font-size: 2rem
    
    &__subtitle
        text-align: center
        max-width: 60%
        font-size: 1.6rem
        text-wrap: wrap
    
    &__steps
        font-size: 1.6rem
        margin-top: 1rem

    &__cta-btn
        margin-top: 1.2rem