.notFoundPage
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh

    .logo
        width: 20rem
        height: 20rem
        margin-bottom: 2rem

    h1
        font-size: 3rem
        margin-bottom: 1rem

    p
        font-size: 1.5rem
        margin-bottom: 2rem

    .mascot
        height: 20rem